body {
    text-align: center;
}

h2{

    font-size: 40px;
    font-family: sans-serif;
    font font-weight: 300;
}

#️Apps {
    width: 100px;
    height: 800px;
    background-color: aqua;
}

#️Artist {
  width: 100px;
    height: 800px;
    background-color: orange;  
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: aquamarine;
    width: 70px;
    margin: 8px auto;
}